{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify image %}

{% block field_sets %}
<link rel="stylesheet" type="text/css" href="{% static "css/imgareaselect-animated.css" %}" />
<script type="text/javascript" src="{% static "js/jquery-1.6.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.imgareaselect.pack.js" %}"></script>
<script type="text/javascript">
    function preview(img, selection) {
        if (!selection.width || !selection.height)
            return;

        var scaleX = {{ original.width }} / selection.width;
        var scaleY = {{ original.height }} / selection.height;

        $('#preview img').css({
width: Math.round(scaleX * {{ original.original_name.width }}),
height: Math.round(scaleY * {{ original.original_name.height }}),
            marginLeft: -Math.round(scaleX * selection.x1),
            marginTop: -Math.round(scaleY * selection.y1)
        });

    }
    function _preview(img, selection){
        preview(img, selection);
        $('#id_crop_x1').val(selection.x1);
        $('#id_crop_y1').val(selection.y1);
        $('#id_crop_x2').val(selection.x2);
        $('#id_crop_y2').val(selection.y2);
    }

    $(function () {
            $('#id_crop_x1, #id_crop_y1, #id_crop_x2, #id_crop_y2').attr('disabled', 'disabled');
            $("#{{ opts.module_name }}_form").submit(function(){
                $('#id_crop_x1, #id_crop_y1, #id_crop_x2, #id_crop_y2').removeAttr('disabled');
            });
            $('#photo').imgAreaSelect({
{% if original.cropped %}
x1: {{ original.crop_x1 }},
y1: {{ original.crop_y1 }},
x2: {{ original.crop_x2 }},
y2: {{ original.crop_y2 }},
{% else %}
x1: {{ original.default_crop.x1 }},
y1: {{ original.default_crop.y1 }},
x2: {{ original.default_crop.x2 }},
y2: {{ original.default_crop.y2 }},
{% endif %}
aspectRatio: '{{ original.width }}:{{ original.height }}',
handles: true,
fadeSpeed: 200,
persistent: true,
imageWidth: {{ original.original_name.width }},
imageHeight: {{ original.original_name.height }},
onInit: preview,
onSelectChange: _preview });
        });
</script>

<div class="container demo">
    <div style="float: left; width: 510px;">
        <p class="instructions">
            Click and drag on the image to select an area.
        </p>

        <div class="frame" style="margin: 0 0.3em;">
            <img id="photo" src="{{ original.original_name.url }}" style="max-width: 500px;"/>
        </div>
    </div>

    <div style="float: left; min-width: {{ original.width }}px;">
        <p style="font-size: 110%; font-weight: bold; padding-left: 0.1em;">
            Selection Preview
        </p>

        <div class="frame" style="margin: 0 1em; width: {{ original.width }}px; height: {{ original.height }}px;">
            <div id="preview" style="width: {{ original.width }}px; height: {{ original.height }}px; overflow: hidden;">
                <img src="{{ original.original_name.url }}" style="width: {{ original.width }}px;" />
            </div>
        </div>
        <div style="margin: 1em 1em;">
            {{ block.super }}
        </div>
    </div>
</div>
<div style="clear:both;"></div>
{% endblock field_sets %}
